.paginationsBttns {
    max-width: 200px;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    a {
        display: block;
        min-width: 25px;
        margin: 5px;
        padding: 3px;
        font-size: 18px;
        text-align: center;
        border: 2px solid gray;
        color: rgb(0, 183, 255);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        &.previosBttn {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &.nextBttn {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:hover {
            cursor: pointer;
            color: white;
            background-color: rgb(78, 78, 78);
        }
    }
}
.acttive {
    a {
        color: white;
        background-color: rgb(78, 78, 78);
    }
}
